@import "tailwindcss";

body {
    @apply bg-zinc-900 text-zinc-100 min-h-screen;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #27272a;
}

::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}

* {
  transition: all 0.2s ease-in-out;
}
